<br> <br>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
            <h1>Welcome to MY APP!</h1>
            <br> <br>
            <h4>Select any Option :</h4>
            <br>
            <button routerLink="calculator" class="btn btn-danger mx-2">Calculator</button>
            <button routerLink="currencyconverter" class="btn btn-warning mx-2">Currency Converter</button>
            <button routerLink="data" class="btn btn-success mx-2">Enroll </button>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<br>
<br> <br> <br> <br> <br> <br> 
<b class="animation end mt-5" >*** Thanks for Visiting! ***</b>
