<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <br> <br> <br>
            <h3 class="text-center">Welcome to the Parent-page!</h3>
            <br>
            <button routerLink="child1" class="form-control btn btn-danger">Child 1</button>
            <br> <br>
            <button routerLink="child2" class="form-control btn btn-warning">Child 2</button>
            <br> <br>
            <button routerLink="child3" class="form-control btn btn-success">Child 3</button>
            <br>
            <br> <br>
            <div class="text-center">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>